<div class="">
    <div>
        <div class="modal-header" style="background-color:#337ab7 ; color: white;">
          {{apellidoNombre}}
        </div>
        <div class="modal-body">

          <table class="table table-bordered table-condensed" >
              <thead>
                <tr>
                  <th scope="col">DESCRIPCION</th>
                  <th scope="col">DESCUENTO</th>
                  <th scope="col">FECHA</th>
                  <th scope="col">TIPO</th>
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let elemento of Elemento.detalle">
                  <th scope="row">{{elemento.descripcion}}</th>
                  <td class="text-right" >{{elemento.descuento.toFixed(2)}}</td>
                  <td>{{elemento.fechapago}}</td>
                  <td>{{elemento.tipo}}</td>
        
                </tr>
                
              </tbody>
            </table>
        </div>
        <div class="modal-footer">

          <button class="btn fondoazulcima" style="cursor:pointer" (click)="descargarUnico()">DESCARGAR</button>

        </div>
    </div>
  
</div>