<div class="container mt-5">
    <div class="card border-dark mb-3 w-100">
        <div class="card-header bg-dark text-light ">LISTA REPORTE</div>
        <div class="card-body">
            <!-- <div class="row w-100">
                <div class="col-8">
                  
                </div>
                <div class="col-4 text-right">
                    <button class="btn btn-success text-right">DESCARGAR</button>

                </div>
            </div> -->

            <table class="table table-bordered">
                <thead class="bg-secondary text-dark">
                    <tr>
                        <th scope="col">COD</th>
                        <th scope="col">DESCRIPCIÓN</th>
                        <th scope="col">FECHA</th>
                        <th scope="col">MONTO</th>
                        <th scope="col">ACCiÓN</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let elemento of infoTabla" class="text-center">
                        <th scope="row">{{elemento['id']}}</th>
                        <td>{{elemento['descripcion']}}</td>
                        <td>{{elemento['ffecha']}}</td>
                        <td>{{elemento['monto']}}</td>
                        <button class="btn btn-danger text-center" routerLink="./detalle/{{elemento['id']}}/{{elemento['descripcion']}}/{{fechaInicio}}/{{fechaFin}}">👁</button>
                    </tr>
                   
                </tbody>
            </table>
        </div>
        <div class="card-footer bg-transparent border-primary">
            Desde: <input id="inputFechaInicio" type="date" class="datepicker" data-date-format="mm/dd/yyyy" name="fechaInicio">

            Hasta: <input id="inputFechaFin" type="date" class="datepicker" data-date-format="mm/dd/yyyy" name="fechaFin">
            <button class="btn btn-primary ml-3" (click)="buscarPorRango()">Buscar</button>
        </div> 
    </div>
</div>